.navbar {
  width: 100%;

  display: flex;
  flex-direction: column;

  .search {
    display: flex;
    align-items: center;

    padding: 15px 5%;

    background: rgba(255, 255, 255, 0.5);

    .logoText {
      font-weight: 400;
      font-size: 55px;
      line-height: 70px;

      color: #000000;

      margin-left: 5px;
      margin-right: 35px;
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background: rgba(0, 0, 0, 0.5);

    .navItem {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 320px;
      height: 40px;

      transform: skew(-20deg);

      background: linear-gradient(
        180deg,
        rgba(217, 217, 217, 0.5) 0%,
        rgba(217, 217, 217, 0) 100%
      );

      .namItemText {
        font-family: "Century Gothic";
        font-style: italic;
        font-weight: 400;
        font-size: 30px;
        line-height: 0px;

        color: #969590;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        transform: skew(20deg);
      }
    }
  }
}
