@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Gothic+A1&family=Montserrat:wght@500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  min-height: 100vh;

  background: url("./assets/background.png");
}

input,
button {
  all: unset;
  cursor: pointer;
}

ul,
li {
  all: unset;
}

